<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkTrace.NoActionBar"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" 
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".TrabajadoresActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetallesTrabajadorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditarTrabajadorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AgregarTrabajadorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AsignarHorariosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HistorialAsistenciaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ExportarReporteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MarcacionUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MarcarEntradaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MarcarSalidaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".VerHorarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HistorialAsistenciaUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>



</manifest>